@import "../themes/default";

html,
body {
    width: 100%;
    height: 100%;
    min-width: 1200px;
}

//滚动条
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e9eef1;
    color: #e9eef1;
}

::-webkit-scrollbar-thumb {
    height: 16px;
    background-color: #9f9f9f;
    -webkit-border-radius: 7px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    // border: 2px solid #fff;
}

::-webkit-scrollbar-track-piece {
    background-color: #e9eef1;
    -webkit-border-radius: 3px;
    color: #e9eef1;
}

.el-menu-item-group__title {
    padding: 0;
}

.plr5 {
    padding: 0 5px;
}

.fz12 {
    font-size: 12px;
}

.clblue {
    color: #3b8cff;
}

.m10 {
    margin: 10px;
}

.ml20 {
    margin-left: 20px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.ml2 {
    margin-left: 2px;
}

.ml30 {
    margin-left: 30px;
}

.ml5 {
    margin-left: 5px;
}

.mr2 {
    margin-right: 2px;
}

.mr5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: -5px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml30 {
    margin-left: 30px;
}

.ml53 {
    margin-left: 53px;
}

.ml80 {
    margin-left: 80px;
}

.mr10 {
    margin-right: 10px;
}

.mr12 {
    margin-right: 12px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr32 {
    margin-right: 32px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.p30 {
    padding: 30px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 30px;
}

.pr20 {
    padding-right: 20px;
}

.pr100 {
    padding-right: 100px;
}

.pb20 {
    padding-bottom: 20px;
}

.text-center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.no-show {
    display: none;
}

.vb {
    vertical-align: bottom;
}

.mh1 {
    min-height: 1px;
}

.clearfix {
    zoom: 1;
}

.fs12 {
    font-size: 12px;
}

.fs12 .el-select-dropdown__item>span {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

.fs28 {
    font-size: 28px;
}

.fs30 {
    font-size: 30px;
}

.fs32 {
    font-size: 32px;
}

.fs36 {
    font-size: 36px;
}

.bold {
    font-weight: bold;
}

.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

.l-h2 {
    line-height: 2;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

.red {
    color: #ff4949;
}

.green {
    color: #13ce66;
}

.white {
    color: #fff;
}

.blue {
    color: #20a0ff;
}

.box {
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 15px;
}

//table表格里，地址列表默认和设置默认按钮显示样式
tr {
    position: relative;

    .showDef {
        position: absolute;
        border: 1px solid #ff9624;
        color: #ff9624;
        background: #ffeddd;
        padding: 3px 5px;
        top: 10px;
        font-size: 12px;
    }

    .showSetDef {
        position: absolute;
        display: none;
        background: #ff9624;
        color: #fff;
        border-radius: 1px;
        padding: 5px;
        top: 10px;
        font-size: 12px;
    }

    &:hover {
        .showSetDef {
            display: inline-block;
        }
    }
}

//列表页面内部布局 左边导航部分
.left-section {
    width: 160px;
    height: 100%;
    background-color: #e9eef1;
    font-size: 16px;
    position: absolute;
    z-index: 100;
    box-sizing: border-box;
}

//列表页面内部布局 右边部分
.top-scroll-section {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 20px;
}

.top-scroll-sectionSpe {
    overflow-y: scroll;
}

.pagination-section {
    text-align: right;
    padding: 20px;
    background-color: #fff;
}

.main-section {
    height: 100%;
    padding-left: 160px;
    background-origin: content-box;
    -webkit-background-origin: content-box;
    overflow: hidden;
    position: relative;
    background-color: #fff;

    .main-wrapper {
        width: 100%;
        height: 100%;
    }
}

//新增、查看、编辑等详情页面 整体布局
.content {
    background: #fff;

    .title {
        width: 100%;
        height: 44px;
        line-height: 44px;
        padding: 0px 20px;
        font-size: 14px;
        font-weight: bold;
        color: #333;
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
    }

    .search {
        width: 100%;
        padding: 30px 20px 0 20px;
        background-color: #fff;
    }

    .content-wrapper {
        padding: 20px 20px 1px 20px;
        background-color: #fff;

        // form表单左对齐，非必填item label样式
        .reset-form-label {
            label {
                padding-left: 11px;
            }
        }

        //新增里面的商品清单的可加减的table
        .native-table-show {
            width: 100%;
            border: 1px solid #eee;
            border-collapse: collapse;
            margin: 0 auto;
            text-align: left;
            font-size: 12px;

            .el-input {
                input {
                    line-height: 28px;
                    height: 28px;
                    border-radius: 1px;
                    color: #666666;
                }
            }

            .thead-tr-show {
                background: #f6f7fb;
                width: 100px;
                height: 44px;
                color: #888888;
            }

            .tbody-tr-show {
                border-bottom: 1px solid #eee;
                background: #ffffff;
                height: 44px;
                overflow: hidden;
                box-shadow: 0 1px 0 0 #f2f6fd;
                transition: 1s;

                .iconfont1 {
                    width: 16px;
                    height: 16px;
                    top: -6px;
                    right: -16px;
                    position: absolute;
                    display: none;
                    background-color: white;
                    color: red;
                    transition: 1s;
                }

                &:hover {
                    outline: 1px dashed #539eff;
                    outline-offset: 0px;
                    transition: 1s;

                    .iconfont1 {
                        display: block;
                        cursor: pointer;
                        transition: 1s;
                    }
                }

                td {
                    padding-right: 16px;
                    color: #666666;

                    .table-operation {
                        position: relative;
                    }

                    .table-input {
                        width: 120px;
                    }
                }
            }
        }
    }
}

//按钮的样式
.btn-section {
    text-align: left;
    background-color: #fff;
    width: 100%;
    padding: 20px;

    button {
        width: 90px;
    }

    .reset {
        color: #3b8cff;
        border-color: #bfd9fe;
    }
}

//左边导航筛选，内容前端写死时样式
.menu {
    .menu-item {
        color: #424e67;
        font-size: 12px;
        height: 44px;
        line-height: 44px;
        cursor: pointer;
    }

    /*.menu-item:first-child div{*/
    /*padding-left: 10px;*/
    /*}*/
}

//左边顶部添加按钮下拉列表样式
.reset-drop-show {
    width: 100px;
    text-align: left;
}

.reset-drop-show+div {
    display: none !important;
}

//内容过多用...显示的样式
@mixin text-overflow-show {
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//表格单元格内容单行显示，多于则显示...
.row-show {
    @include text-overflow-show;
}

//下拉列表select控件 内容过多显示...
.el-select .el-input input {
    @include text-overflow-show;
}

//表格单元格里按钮操作的显示样式
.row-btn-show {
    line-height: 1;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;

    div {
        display: inline-block;
        padding: 0;
        font-size: 12px;
        color: #233e75;
        cursor: pointer;

        &:hover {
            color: #3b8cff;
        }
    }

    button {
        padding: 0;
        //margin: 0;
        font-size: 12px;
    }
}

.cursor {
    cursor: pointer;
}

.el-table th .cell {
    font-weight: normal;
}

.el-table th .cell,
.el-table tr .cell {
    @include text-overflow-show;
    color: #888888;
}

.el-table td {
    border-bottom: 1px solid #f2f6fd;
}

.va-m {
    vertical-align: middle;
}

.va-t {
    vertical-align: top;
}

@-webkit-keyframes rotateCircle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateCircle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes shake {

    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.icon-logout:before {
    content: "\e61d";
}


/**
页码样式
 */

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
    margin: 0;
    border-radius: 0;
    border: 1px solid #e5e5e5;
}

.el-pagination.is-background .el-pager li.active {
    background: #3b8cff;
    border: 1px solid #118bff;
    color: #fff;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
    background-color: #ffffff;
}

.el-pagination.is-background .el-pager li {
    border-right: none !important;
}

//.el-pagination {
//    .btn-prev, .btn-next{
//        i{
//            visibility: hidden;
//        }
//    }
//    .btn-prev{
//        &:before{
//            content:"上一页"
//        }
//    }
//    .btn-next{
//        &:before{
//            content:"下一页"
//        }
//    }
//}

/**
 NGOC 商品和仓库模块表格列表统一样式
 */

.table-wrapper {
    height: 100%;
    background-color: #fff;

    .pagination-section {
        padding: 18px 0;
        text-align: right;
        right: 20px;
    }
}

.table-wrapperSpe {
    overflow-y: visible;
}

.text-link {
    color: #40b6fa;
    cursor: pointer;
    text-decoration-line: underline;
}

.el-table {
    border-left: none;

    thead tr th {
        font-size: 12px;
        background-color: #f6f7fb;
        color: #888;
        border: 1px solid #eee;
        border-top: none;
        border-right: none;
        padding: 0;

        .cell {
            line-height: 36px;
        }
    }

    tbody tr td {
        padding: 0;
        border-left: none;
        border-right: none;

        .cell {
            line-height: 44px;
            color: #666666;
            font-size: 12px;
        }
    }

    tbody tr {
        &:hover {
            td {
                background-color: #f6fafe !important;
            }
        }
    }
}

.el-table--border::after,
.el-table--group::after {
    width: 0px; //表格右边线
}

.el-table::before {
    height: 0px;
}


/**
NGOC 商品和仓库模块左边导航样式统一
 */

.menu-product {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 75px;

    .menu-item-li {
        display: block;
        box-sizing: border-box;
        //width: 160px;
        color: rgb(66, 78, 103);
        height: auto;
        cursor: pointer;

        .menu-item-li {
            //opacity: 0.7;
            color: rgba(66, 78, 103, 0.7);
            height: auto;

            .set-border {
                padding-left: 68px;

                .positionIcon {
                    left: 48px;
                }
            }

            .menu-item-li {
                height: auto;

                .set-border {
                    padding-left: 78px;
                }
            }
        }

        .set-border {
            height: 36px;
            line-height: 36px;
            padding-left: 58px;
            position: relative;
            font-size: 12px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            &:hover {
                background-color: #dde2e5;
            }

            .positionIcon {
                position: absolute;
                left: 38px;
                color: #b3bbcd;
                top: 14px;
                width: 0px;
                height: 0px;
                border-width: 0px 0px 8px 8px;
                border-style: solid;
                border-color: #b3bbcd transparent #b3bbcd transparent;
            }
        }
    }

    .isactive {
        color: #3b8cff;
        background: #dde2e5;
    }

    .all {
        cursor: pointer;
        color: #424e67;
        display: block;
        box-sizing: border-box;

        //width: 160px;
        .set-border {
            padding-left: 30px;
            height: 44px;
            font-size: 14px;
            line-height: 44px;

            &:hover {
                background-color: #dde2e5;
            }
        }

        .icon-quanbu {
            font-size: 16px;
            margin-right: 12px;
        }
    }

    .submenu {
        display: none;
        height: auto;
    }

    .isopen {
        display: block;
    }
}

.menu {
    .menu-item {
        display: block;
        box-sizing: border-box;
    }

    .submenu {
        display: none;
    }

    .submenu .menu-item .set-border {
        padding-left: 40px;
    }

    .isopen {
        display: block;
    }

    .isactive .set-border {
        color: #3b8cff;
        background-color: #dde2e5;
    }

    .menu-item:hover {
        background-color: #dde2e5;
    }

    .set-border {
        width: 100%;
        height: 100%;
        padding-left: 52px;
        display: inline-block;

        .iconquanbu {
            margin-left: 10px;
            margin-right: 5px;
        }
    }

    .all {
        font-size: 14px;
        padding-left: 20px;
    }
}

input::-webkit-inner-spin-button {
    display: none;
}

.area-select .area-selected-trigger {
    line-height: 1;
}

//按钮样式重写
.el-button--text {
    color: #3b8cff;
}

.el-button--primary {
    background-color: #3b8cff;
    border-color: #3b8cff;
}

//分页样式重写
.el-pager li.active {
    color: #3b8cff;
}

.el-table .cell,
.el-table th>div {
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.el-table .cell,
.el-table th div {
    padding-right: inherit;
    overflow: initial;
}

//input框的placeholder颜色
.el-input__inner {
    border: 1px solid #e0e0e0;
    color: #666666;

    &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #9c9c9c !important;
    }

    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #9c9c9c !important;
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #9c9c9c !important;
    }
}

.el-select .el-input input {
    border: 1px solid #e0e0e0;
    color: #666666;

    &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #9c9c9c !important;
    }

    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #9c9c9c !important;
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #9c9c9c !important;
    }
}

//查看详情页面页面布局左右两部分
.detailsBigBox {
    height: 100%;
}

.DetailsLeftBox {
    width: 77%;
    height: 100%;
    display: inline-block;
    background-color: #ffffff !important;

    .viewLeftTop {
        background-color: #f6f7fb;
        padding: 20px;
        overflow: hidden;

        .order {
            font-size: 14px;
            color: #333333;
            float: left;
        }

        .status {
            font-size: 12px;
            color: #333333;
            font-weight: normal;
            float: left;
            margin-left: 30px;
        }

        .rukuAndEditBtn {
            margin: 20px 0 0;
        }
    }

    .el-tabs__header.is-top {
        background: #f6f7fb;
        padding: 0px 20px;
    }

    .el-tab-pane {
        padding: 20px 20px 0;
    }

    .el-tabs__nav {
        z-index: inherit;
    }

    .el-tabs__content {
        background-color: #fff;
    }

    .el-tabs__header {
        margin: 0;
    }

    .el-tabs__nav {
        .el-tabs__item.is-active {
            background-color: #fff !important;
            border-left: none;
            color: #333333 !important;
            font-weight: 600;
        }

        .el-tabs__item.is-top {
            color: #666666;
            background-color: #e7e8ed;
            margin-right: 10px;

            &:hover {
                color: #666666;
            }
        }
    }

    .el-tabs--card>.el-tabs__header {
        border-bottom: none;
    }

    .el-tabs--card>.el-tabs__header .el-tabs__nav {
        border: none;
    }

    .editIcon {
        margin-left: 8px;
        display: inline-block;
        border: 1px solid #999999;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        border-radius: 50%;

        i {
            font-size: 15px;
            color: #999999;
        }

        &:hover {
            border: 1px solid #333;

            i {
                color: #333;
            }
        }
    }

    .returnElRow {
        text-align: left;
        background: #fff;
        padding: 20px;

        .ReturnBtn {
            width: 90px;
            height: 34px;
            border: 1px solid #bfd9fe;
            color: #3b8cff;
        }
    }

    .el-tooltip__popper.is-light {
        border: 1px solid #303133 !important;
    }
}

.DetailsRightBox {
    width: 21%;
    display: inline-block;
    margin-left: 10px;
    padding: 20px;
    vertical-align: top;
    background-color: white;

    h3 {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .IndexNum {
        i {
            font-style: normal;
        }
    }

    .el-form-item {
        margin-bottom: 5px;
    }

    .el-form-item__label {
        font-size: 12px;
        line-height: 24px !important;
        color: #666666;
    }

    .el-form-item__content {
        line-height: 24px !important;
        font-size: 12px;

        span {
            color: #333333;
        }
    }
}


/*
table高亮行的className
*/

.success-row {
    background-color: #f0f9eb !important;
}


/*
textarea的placeholder颜色
*/

textarea,
input {
    color: #9c9c9c;

    &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #9c9c9c !important;
    }

    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #9c9c9c !important;
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #9c9c9c !important;
    }
}


/*
入库和采购的状态颜色（圆圈）
*/

.circle {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 6px;
    border-radius: 100%;
}

.circle-FFA416 {
    background-color: #ffa416;
}

.circle-F66E6E {
    background-color: #f66e6e;
}

.circle-8F9399 {
    background-color: #8f9399;
}

.circle-FF6369 {
    background-color: #ff6369;
}

.circle-66C23A {
    background-color: #66c23a;
}

// 补充：我创建的状态颜色
.circle-8E939A {
    background-color: #8e939a;
}

.font-color-F56C6C {
    color: #f56c6c;
}


/**
NGOC 设置select最大长度
 */

.max-length {
    max-width: 300px;
}

.empty {
    .el-select-dropdown__empty {
        font-size: 12px;
    }
}

.prop_select_width_178 {
    max-width: 178px;
}


/*修改状态的select样式*/

.modifyStatusSelectStyle {
    .el-input {
        input {
            line-height: 28px;
            height: 28px;
            border-radius: 1px;
        }
    }
}

.tabEditMarginRight {
    span {
        margin-right: 16px;
    }
}


/**
NGOC table无数据时样式
 */

.table_slot_empty_text {
    div {
        width: 100%;

        img {
            width: 82px;
            height: 98px;
        }
    }

    div:nth-child(1) {
        height: 98px;
    }

    div:nth-child(2) {
        margin-top: 16px;
        font-size: 12px;
        color: #9c9c9c;
        line-height: 12px;
    }
}

.table-empty-height {
    .el-table__empty-block {
        min-height: 270px;
    }
}

.display-block {
    display: block !important;
}

.table_slot_empty_text {
    div {
        width: 100%;

        img {
            width: 82px;
            height: 98px;
        }
    }

    div:nth-child(2) {
        margin-top: 16px;
        font-size: 12px;
        color: #9c9c9c;
        line-height: 12px;
    }
}


/**
NGOC table 更多选中行的背景颜色
 */

.table-tr-bg-F6FAFE {
    background-color: #f6fafe !important;
}


/**
NGOC table 第一列样式
 */

.row-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .row-title-order {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #424e67;
    }

    &:hover {
        .row-title-order {
            color: #3b8cff;
            cursor: pointer;
        }
    }

    .operate-container {
        //padding: 0px 16px;
        height: auto;
        font-size: 12px;
        display: flex;
        justify-content: flex-end;

        .stock-in-button,
        .operate-state {
            font-size: 12px;
            color: #3b8cff;
            cursor: pointer;
        }
    }
}


/*
新增 左边导航新增按钮样式
*/

.add-section {
    padding: 10px 0;
    text-align: center;

    .add-button {
        padding: 7px 0px;
        width: 100px;
        background: #3b8cff;
        line-height: 18px;
        border-radius: 2px;
        font-size: 12px;
        color: #ffffff;
        display: flex;
        border: none;
        margin: auto;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
        text-align: center;

        i {
            margin-right: 4px;
            font-size: 12px;
        }
    }
}

// 列表页面select字体
.reset-option-font {
    font-size: 12px;
    padding: 0 15px;
}


/*
select proper-class的累，修改上下padding
*/

.reset-select-option-padding {
    .el-select-dropdown__list {
        padding: 0px;
    }
}

.icon-wenhao {
    color: #bdbdbd;
}


/*弹框的样式*/

.modal-container {
    .el-dialog__header {
        padding: 20px 23.7px 20px 30px;
        color: #333333;

        .el-dialog__title {
            font-size: 16px;
            color: #333333;
        }

        .el-dialog__headerbtn {
            right: 30px;
            font-size: 23px;
        }
    }

    .el-dialog__body {
        padding: 0px 30px 20px 30px;

        .bottom-border {
            width: 100%;
            border-bottom: 1px solid #f3f3f3;
            margin-bottom: 20px;
        }
    }

    .el-dialog__footer {
        padding: 0px 30px 30px;

        .el-button {
            width: 80px;
            padding: 8px 0px;
            font-size: 14px;
        }
    }
}


/*合同列表里的单独的弹窗*/

.purchasecontractlist {
    .el-dialog__header {
        margin: 20px 30px 0px;
        padding: 20px 0 10px;
        border-bottom: 1px solid #f3f3f3;

        .el-dialog__headerbtn .el-dialog__close {
            font-size: 20px;
            font-weight: bold;
            color: #dddddd;
        }

        .el-dialog__title {
            font-size: 16px;
        }
    }

    .el-dialog__footer {
        padding: 0px 20px 30px;
    }

    .el-dialog__body {
        padding: 24px 30px 0px;

        .fontSize16 {
            margin: 20px 0;
            font-size: 16px;
            font-weight: normal;
            color: #666;
        }
    }
}

// 查看页面样式，查看仓库，查看供应商
.view-module {
    background-color: #fff;
    height: 100%;

    .view-title-section {
        background-color: #f6f7fb;
        padding: 20px 20px 0;
        color: #333;

        .name {
            font-weight: bold;
            font-size: 14px;
            display: inline-block;
            margin-right: 30px;
            height: 30px;
            line-height: 30px;
        }

        .label {
            font-size: 12px;
            display: inline-block;
            margin-right: 30px;
            height: 25px;
            line-height: 25px;

            label {
                margin-right: 5px;
            }
        }

        .comment {
            font-size: 12px;
            word-break: break-all;

            label {
                margin-right: 10px;
            }
        }

        .line-height {
            height: 30px;
            line-height: 30px;
        }
    }

    .view-btn-section {
        background-color: #f6f7fb;
        padding: 15px 20px;

        .editIcon {
            display: inline-block;
            border: 1px solid #999999;
            width: 28px;
            height: 28px;
            text-align: center;
            line-height: 28px;
            border-radius: 50%;

            i {
                font-size: 14px;
                color: #999;
            }

            &:hover {
                border: 1px solid #333;

                i {
                    color: #333;
                }
            }
        }
    }

    .view-table-section {
        background-color: #fff;
        width: 100%;

        .el-tabs {
            width: 100%;
            background-color: #f6f7fb;

            .el-tabs__header {
                margin: 0 20px;
            }

            .el-tabs__nav {
                font-size: 14px;
                height: 36px;
                border: none;
                text-align: center;
                color: #333333;

                .el-tabs__item.is-top {
                    padding: 0 15px;
                    line-height: 36px;
                    height: 36px;
                    margin-right: 5px;
                    background-color: #e7e8ed;
                    border: 1px solid #e7e8ed;
                    border-bottom: none;
                    color: #666;
                }

                .el-tabs__item.is-top.is-active {
                    color: #333333;
                    background-color: #fff;
                    border: 1px solid #eceef5;
                    border-bottom: none;
                }
            }
        }
    }

    .table-content {
        padding: 20px;
        background-color: #fff;
        width: 100%;
        height: 100%;

        .el-table {
            border-left: 1px solid #f2f6fd;
            border-right: 1px solid #f2f6fd;
        }
    }
}

//创建,编辑采购订单
.createPurchase-view {
    .el-select .el-input input {
        border: 1px solid #e0e0e0;
        color: #666666;

        &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            font-size: 14px !important;
        }

        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            font-size: 14px !important;
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            font-size: 14px !important;
        }
    }

    .el-input__inner {
        border: 1px solid #e0e0e0;
        color: #666666;

        &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            font-size: 14px !important;
        }

        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            font-size: 14px !important;
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            font-size: 14px !important;
        }
    }

    .el-date-editor input {
        border: 1px solid #e0e0e0;
        color: #666666;

        &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            font-size: 14px !important;
        }

        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            font-size: 14px !important;
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            font-size: 14px !important;
        }
    }

    .procurements-config-wrapper {
        overflow: inherit;
    }

    .el-date-editor.el-input,
    .el-date-editor.el-input__inner {
        width: 300px;
        margin-left: -3px;
        font-size: 14px;
    }

    .el-form-item__label {
        color: #333;
    }

    .el-form-item {
        margin-bottom: 13px;
    }

    .el-textarea__inner {
        margin-top: 5px;
        height: 80px;
        margin-left: 2px;
    }

    .el-textarea__inner {
        border: 1px solid #e0e0e0;
        color: #666666;

        &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            font-size: 14px !important;
        }

        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            font-size: 14px !important;
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            font-size: 14px !important;
        }
    }

    .el-input__inner {
        border: 1px solid #e0e0e0;
        color: #666666;

        &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            font-size: 14px !important;
        }

        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            font-size: 14px !important;
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            font-size: 14px !important;
        }
    }

    .el-date-editor input {
        border: 1px solid #e0e0e0;
        color: #666666;

        &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            font-size: 14px !important;
        }

        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            font-size: 14px !important;
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            font-size: 14px !important;
        }
    }

    .el-select .el-input input {
        border: 1px solid #e0e0e0;
        color: #666666;

        &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            font-size: 14px !important;
        }

        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            font-size: 14px !important;
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            font-size: 14px !important;
        }
    }

    .el-input.is-disabled .el-input__inner {
        background-color: #f0f0f0;
        font-size: 14px;
    }

    .el-date-editor.el-input,
    .el-date-editor.el-input__inner {
        width: 295px;
    }

    .el-form-item__label {
        color: #333;
    }

    .el-form-item {
        margin-bottom: 13px;
    }

    .el-textarea__inner {
        margin-top: 5px;
        height: 80px;
    }

    .el-input.is-disabled .el-input__inner {
        background-color: #f0f0f0;
    }

    .unvalid .el-input__inner {
        border-color: red !important;
        border-radius: 1px !important;
    }

    .cancel-button {
        color: #3b8cff;
        border: 1px solid #bfd9fe;
    }
}


/*
添加商品行按钮的样式
*/

.addProduct {
    margin-bottom: 16px;

    .el-button {
        border-color: #e0e0e0;
    }
}


/*
订单合计含税金额行的样式
*/

.orderContainer {
    background-color: #fbfbfb;
    padding: 0px 20px;
    border: 1px solid #f1f1f1;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;

    .orderCount {
        text-align: right;

        span {
            color: red;
            font-size: 18px;
        }
    }
}


/*
left-menu 左边导航样式
*/

.left-menu {
    .iconquanbu {
        margin-left: 10px;
        margin-right: 5px;
        color: #424e67;
    }

    .el-menu {
        background-color: #e9eef1;

        .divide-line {
            margin-left: 20px;
            width: 120px;
            border-bottom: 1px solid #dde2e5;
        }

        .el-menu-item {
            line-height: 44px;
            height: 44px;
            color: #424e67;
        }

        .el-menu-item.is-active {
            color: #3b8cff;
            background-color: #dde2e5;

            i {
                color: #3b8cff;
            }
        }

        .el-menu-item:hover {
            background-color: #dde2e5;
        }

        .menu-btn-space {
            display: inline-block;
            width: 100px;
            font-size: 12px;
        }

        .menu-icon-place-holder {
            margin-right: 5px;
            width: 24px;
            text-align: center;
            font-size: 18px;
            vertical-align: middle;
            display: inline-block;
        }

        .el-menu-item:nth-child(1) {
            .menu-btn-space {
                font-size: 14px;
            }
        }
    }
}


/*
取消入库弹窗的样式
*/

.cancel-stockIn {
    height: auto;
    font-size: 14px;
    color: #666666;
    line-height: 25px;

    i {
        font-size: 24px;
        color: #e6a23b;
        vertical-align: middle;
    }

    span {
        display: inline-block;
        background: #f9f2f4;
        border-radius: 2px;
        height: 20px;
        line-height: 20px;
        padding: 0px 10px;
        color: #c8284f;
    }
}

//创建渠道
.createChannel {
    height: 100%;
    margin: 0 30px 0px;
    background-color: white;
    border-top: 10px solid #e9eef1;

    .content {
        background-color: #fff;

        .title {
            font-size: 14px;
            color: #333333;
            line-height: 44px;
            height: 44px;
            background-color: #fff;
            border-bottom: 1px solid #e5e5e5;
        }

        .content-wrapper {

            // padding: 10px 30px 0;
            .displayStyle,
            .displayStyle1 {
                display: inline-block;

                // padding-left: 25px;
                .row_width {
                    width: 300px;
                    height: 36px;
                }
            }
        }

        table thead th {
            background: #f6f7fb;
            width: 100px;
            height: 44px;
        }

        table {
            border: 1px solid #eee;
            border-collapse: collapse;
            margin: 0 auto;
            text-align: left;
            font-size: 12px;

            tr {
                border-bottom: 1px solid #eee;
                background: #ffffff;
                height: 44px;
                overflow: hidden;
                box-shadow: 0 1px 0 0 #f2f6fd;
                border: 1px solid #f0f3fa;
                transition: 1s;

                .iconfont1 {
                    width: 16px;
                    height: 16px;
                    top: -6px;
                    right: -1px;
                    position: absolute;
                    display: none;
                    background-color: white;
                    color: red;
                    transition: 1s;
                }

                &:hover {
                    outline: 1px dashed #539eff;
                    outline-offset: 0px;
                    transition: 1s;

                    .iconfont1 {
                        display: block;
                        cursor: pointer;
                        transition: 1s;
                    }
                }

                td {
                    padding-left: 5px;

                    .table-input {
                        width: 120px;
                    }
                }
            }
        }
    }

    .content-padding {
        // width: 900px;
        padding-left: 20px;
        padding-top: 20px;
        box-sizing: border-box;

        .contact-info {
            display: flex;
            justify-content: space-between;
        }

        .row_width {
            width: 300px;
            height: 36px;
        }
    }

    .defaultAddress {
        color: #ff9624;
        font-size: 12px;
        background-color: #ffeddd;
        border-color: #ff9624;
    }

    .setDefaultAddress {
        color: white;
        background-color: #ff9624;
        border-color: #ff9624;
    }

    .addAddressListContainer {
        padding: 20px;
        background-color: white;
    }

    .btn-box {
        margin-left: 130px;

        button {
            color: #3b8cff;
            border: 1px solid #bfd9fe;
        }
    }

    .maxLength {
        background-color: #fff;
        background-image: none;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #666;
        display: inline-block;
        font-size: 13px;
        height: 38px;
        line-height: 40px;
        outline: 0;
        padding: 0 15px;
        -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        position: absolute;
        right: 1px;
        top: 1px;
    }

    .maxLengthRemark {
        background-color: #fff;
        background-image: none;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #666;
        display: inline-block;
        font-size: 13px;
        height: 38px;
        line-height: 40px;
        outline: 0;
        padding: 0 15px;
        -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        position: absolute;
        right: 52px;
        bottom: 1px;
    }

    .btn-section {
        padding-bottom: 20px;
        padding-left: 0px;
        background-color: #fff;
        width: 100%;

        .el-button {
            padding: 8px 0px;
            font-size: 14px;
        }

        .cancel-button {
            color: #3b8cff;
            border: 1px solid #bfd9fe;
        }
    }

    .baseInfo-remark {
        position: relative;

        .limittext {
            position: absolute;
            bottom: 0px;
            right: 20px;
            font-size: 12px;
            color: #dddddd;
        }
    }

    .remark_width {
        width: calc(100% - 20px);

        textarea {
            min-height: 80px;
        }
    }

    .el-form-item {
        margin-bottom: 11px;
    }

    .el-select {
        font-size: 14px;

        option {
            columns: #666666;
        }
    }

    .el-table__empty-text {
        font-size: 12px;
    }

    .el-form-item__label {
        text-align: left;
        color: #333;
    }

    .el-table__empty-block {
        border: 1px solid #e0e0e0;
        border-top: none;
    }
}

//编辑渠道
.edit-channel {
    margin: 0 30px;
    border-top: 10px solid #e9eef1;
    padding: 0 !important;
    background-color: white;

    .el-table__empty-text {
        font-size: 12px;
    }

    .el-table__empty-block {
        border: 1px solid #e0e0e0;
        border-top: none;
    }

    .btnStyle2 {
        color: #3b8cff;
        border: 1px solid #bfd9fe;
    }

    .content-padding {
        // width: 900px;
        padding-top: 17px;
        box-sizing: border-box;

        .contact-info {
            display: flex;
            justify-content: space-between;
        }

        .row_width {
            width: 300px;
            height: 36px;
        }
    }

    .btn-box {
        margin-left: 130px;
        margin-top: 14px;
    }

    .defaultAddress {
        color: #ff9624;
        font-size: 12px;
        background-color: #ffeddd;
        border-color: #ff9624;
    }

    .setDefaultAddress {
        color: white;
        background-color: #ff9624;
        border-color: #ff9624;
    }

    .defaultAddress:hover,
    .defaultAddress:active,
    .defaultAddress:focus {
        color: #ff9624;
        font-size: 12px;
        background-color: #ffeddd;
        border-color: #ff9624;
    }

    .setDefaultAddress:hover {
        color: white;
        background-color: #ff9624;
        border-color: #ff9624;
    }

    .addAddressListContainer {
        background-color: white;
        padding: 20px;
    }

    .maxLengthRemark {
        background-color: #fff;
        background-image: none;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #666;
        display: inline-block;
        font-size: 13px;
        height: 38px;
        line-height: 40px;
        outline: 0;
        padding: 0 15px;
        -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        position: absolute;
        right: 52px;
        bottom: 1px;
    }

    .btn-section {
        padding-left: 0;

        .el-button {
            padding: 8px 0px;
            font-size: 14px;
        }

        .cancel-button {
            color: #3b8cff;
            border: 1px solid #bfd9fe;
        }
    }
}

// 创建，编辑页的上传附件样式
.upload-file-list {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;

    .file-list-item {
        width: 33.33%;
        height: 34px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 18px;

        div:nth-child(1) {
            margin-right: 7px;

            img {
                width: 27px;
                height: 34px;
            }
        }

        div {
            font-size: 12px;
            line-height: 12px;

            p:nth-child(1) {
                height: 14px;
                color: rgba(51, 51, 51, 1);
                margin-bottom: 8px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            p:nth-child(2) {
                height: 12px;
                cursor: pointer;
                color: rgba(83, 158, 255, 1);
            }
        }
    }
}

// 取消审批的弹窗样式
.cancelApprove {
    color: #666666;
    font-size: 14px;

    span {
        color: red;
    }
}

// 附件列表
.file-list {
    width: 100%;
    height: auto;
    flex-wrap: wrap;

    .file-list-item {
        margin-top: 20px;

        div:nth-child(1) {
            margin-right: 7px;

            img {
                width: 27px;
                height: 34px;
            }
        }

        div:nth-child(2) {
            width: 40%;
        }

        div:nth-child(3) {
            margin-left: 20px;
        }

        div:last-child {
            float: right;
            margin-right: 15px;
        }

        div {
            display: inline-block;
            font-size: 12px;
            font-weight: 500;

            .fileName {
                width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            p {
                height: 16px;
                color: rgba(102, 102, 102, 1);
                margin-bottom: 8px;
            }
        }
    }
}

.stockFooter {
    background-color: white;
}

// 附件背景图片
.background {
    width: 27px;
    height: 34px;
}

.background_word {
    background: url("~/layouts/images/word@2x.png") no-repeat;
    background-size: 100% 100%;
}

.background_image {
    background: url("~/layouts/images/tupian.png") no-repeat;
    background-size: 100% 100%;
}

.background_xls {
    background: url("~/layouts/images/xls.png") no-repeat;
    background-size: 100% 100%;
}

.background_pdf {
    background: url("~/layouts/images/pdf.png") no-repeat;
    background-size: 100% 100%;
}

.funcBtnReset {
    div {
        margin-top: 10px;

        .totalNum {
            color: #888888;
            font-size: 12px;
            line-height: 12px;
        }
    }
}

.create-customer {
    height: 100%;
    padding: 10px 30px 0 30px;

    .create-customer-container {
        background-color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;

        .el-form-item__label {
            color: #333;
        }

        .el-form-item .el-input {
            width: 300px;
            height: 32px;
        }
    }

    .btn-section {
        .el-button {
            padding: 8px 0px;
            font-size: 14px;
        }
    }
}

// 列表里 ‘更多’ 交互的样式，仓库设置列表，调拨列表 等页面
.padding-0 {
    padding: 0px;
    width: 80px !important;
    min-width: 80px !important;
    text-align: center;

    .operating-button {
        width: 100%;
    }

    .el-button--text {
        display: block;
    }
}

.el-tooltip__popper.is-light {
    border: none;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

.operating-button {
    width: 80px;
    //    height: 28px;
    color: #666666;
    font-size: 12px;
    padding: 0px;
    line-height: 28px;
    display: block;

    &:hover {
        color: #333333;
        background-color: #f6fafe;
    }
}


/*导入商品和下载模板*/

.download-file-button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .select-file-div {
        display: inline-block;
        margin-right: 30px;
    }

    a {
        font-weight: normal;
        color: #3b8cff;
    }

    .el-button {
        i {
            font-size: 12px;
            margin-right: 8px;
        }

        height: 20px;
        font-size: 14px;
        color: rgba(59,
        140,
        255,
        1);
        line-height: 20px;
        width: auto;
        padding: 0px;
        border: none;
    }
}

.ml22 {
    margin-left: 22px;
}

.ml15 {
    margin-left: 15px;
}

ml40 {
    margin-left: 40px;
}

.remarkShow {
    /*width: 200px;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// 行内审批样式 by dengxue
.el-table {
    .id-td {
        .cell {
            display: flex;
        }

        .title {
            flex: 1;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            margin-right: 20px;
            display: inline-block;
            word-break: keep-all;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: middle;
            // line-height: 46px;
        }

        .operate-state {
            display: inline-block;
            margin-right: 10px;
            width: 0;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.5s;
            cursor: pointer;

            .operate {
                color: #539eff;
            }
        }
    }

    tr {
        &:hover {
            .operate-state {
                width: auto;
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

// 审批弹窗样式
.approval-dialog {

    // 重写btn宽高样式
    .el-button {
        &.small {
            padding: 0;
            height: 34px;
            line-height: 34px;
            width: 80px;
        }
    }

    .el-dialog__header {
        border-bottom: 1px solid #f3f3f3;
        margin: 0 30px;
        padding: 20px 0 18px;

        .el-dialog__title {
            font-size: 16px;
        }
    }

    .el-dialog__body {
        font-size: 12px;
        padding: 0;
        margin: 6px 30px 0;
        color: #333;

        .types {
            .el-radio {
                +.el-radio {
                    margin-left: 130px;
                }
            }

            .el-radio__label {
                font-size: 12px;
                color: #666;
            }
        }

        .el-textarea {
            .el-textarea__inner {
                font-size: 12px;
            }
        }
    }

    .el-dialog__footer {
        padding: 0;
        text-align: inherit;
    }

    .reject-form {
        .el-form-item__label {
            font-size: 12px;
        }

        .content {
            .el-form-item__label {
                line-height: 35px;
            }
        }
    }

    .transfer-form {
        padding-top: 10px;

        .el-form-item__label {
            font-size: 12px;
        }

        .transfer {
            margin-bottom: 13px;

            .el-form-item__label {
                line-height: 34px;
            }

            /*  设置人员转交宽度 */
            .el-form-item__content {
                width: 60%;
            }

            .el-input .el-input__inner {
                height: 34px;
                line-height: 34px;
            }
        }

        .content {
            .el-form-item__label {
                line-height: 18px;
                padding-bottom: 8px;
            }
        }
    }

    // 重写校验颜色
    .el-form-item.is-required .el-form-item__label:before {
        color: #d0021b;
    }

    .el-form-item__content .el-form-item__error {
        color: #d0021b;
        padding-top: 2px;
    }

    .el-form-item.is-error .el-input__inner,
    .el-form-item.is-error .el-input__inner:focus,
    .el-form-item.is-error .el-textarea__inner,
    .el-form-item.is-error .el-textarea__inner:focus {
        border-color: #d0021b;
    }
}

// ngoc的审批详情
.approveDetailsNgoc {
    .ngocLightBlue {
        color: #8bb3fd;
    }

    .ngocBlue {
        color: #4788ff;
    }

    .ngocBlack {
        color: #333333;
    }

    .gray {
        color: #999999;
    }
}

.ngocAprroveDetailBigBox {
    height: 20px;

    .ngocAprroveDetailIndex {
        float: left;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
    }

    .ngocAprroveDetailText {
        float: left;

        >span:first-child {
            display: inline-block;
            margin-left: 10px;
            width: 250px;
            margin-right: 45px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        >span:nth-child(2) {
            display: inline-block;
            margin-right: 63px;
            width: 100px;
        }

        .ngocRrocess {
            color: #4788ff;
        }

        .ngocReject {
            color: #f07d7d;
        }
    }
}

.ngocAprroveDetail {
    .ngocVerticalLine {
        width: 1px;
        height: 21px;
        background: #999;
        margin-left: 10px;
    }
}